h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}
body {
    background-color: #bdbdbd;
    color: #000000;
}
.footer {
    background-color: white;
 }
.footer-p {
    margin-left: 0.8rem;
}
.footer-icons {
    margin-right: 0.8rem;
}
@media screen and (max-width: 950px){
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        text-align: center;
       
     }
     
}
.copyright {
    font-size: 20px;
    max-width: 100%;
    
}
.active {
    font-size: 20px;
    margin-right: 20px;
    
}
.kezdolap {
    font-weight: bold;
}
.gombok {
    margin-top: 50px;
    
}
.fo-btn {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(14, 101, 233, 0.5);
}
.gomb {
    height: 80px;
    margin-bottom: 10px;
    opacity: 0.85;
    
}
.gomb:hover {
    opacity: 1;
}
.slideshow {
    margin-top: 50px;
}
.bolded {
    font-weight: bold;
}
.warningicon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.fokep {
    width: 2000px;
    height: 789px;
}
.special-btn {
    background: linear-gradient(90deg, rgb(20, 53, 241) 0%, rgb(193, 6, 240) 100% );
    border: 2px solid black;
}
.rolunk-btn {
    height: 50px;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(14, 101, 233, 0.5);
    margin-bottom: 20px;
}
.gomb2 {
    
    margin-bottom: 10px;
    opacity: 0.95;
    color: white;
    
}
.gomb2:hover {
    opacity: 1;
    color: white;
    box-shadow: 0 1rem 2rem 0 rgba(14, 101, 233, 0.5);
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
body {
    animation: transitionIn 0.75s;
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
 }
 
 .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
 }
 .kartya1 {
    transition-delay: 200ms;
 }
 .kartya2 {
    transition-delay: 400ms;
 }
 
 .kartya5 {
    transition-delay: 750ms;
 }
 

