h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}
body {
    background-color: #bdbdbd;
    color: #000000;
}
footer {
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
 }

.copyright {
    font-size: 20px;
    max-width: 100%;
    
}
.active {
    font-size: 20px;
    margin-right: 20px;
    
}
.kezdolap {
    font-weight: bold;
}
.gombok {
    margin-top: 50px;
    
}
.fo-btn {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(14, 101, 233, 0.5);
}
.gomb {
    height: 80px;
    margin-bottom: 10px;
    opacity: 0.85;
    
}
.gomb:hover {
    opacity: 1;
}
.slideshow {
    margin-top: 50px;
}
.bolded {
    font-weight: bold;
}
.warningicon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.fokep {
    width: 2000px;
    height: 789px;
}
.special-btn {
    background: linear-gradient(90deg, rgb(225,24,9) 0%, rgb(240, 221, 6) 100% );
    border: 2px solid black;
}
.rolunk-btn {
    height: 50px;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(14, 101, 233, 0.5);
}
.gomb2 {
    
    margin-bottom: 10px;
    opacity: 0.85;
    
}
.gomb2:hover {
    opacity: 1;
}